.container {
  position: relative;
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.disable-scroll {
  position: fixed;
  width: 100%;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.hide {
  display: none !important;
}
